.squads ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 4rem;
}

.squads {
    width: 80%;
}

.squad-name {
  display: block;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.squad-author {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.25rem;
  display: block;
  border-top: 1px solid brown;
  padding-top: 0.5rem;
}

h1 {
  background: linear-gradient(to right,
            rgba(0, 0, 0, 0.123),rgb(14, 197, 90), black);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}