.squads ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.squads {
    width: 80%;
}

h1 {
  background: linear-gradient(to right,
            rgba(0, 0, 0, 0.123),rgb(14, 197, 90), black);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}