.team-heroes-container {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
    padding-bottom: 0.25rem;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.123), rgb(14, 197, 90), black);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #e00303;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 0.25rem;
}

.comment-display h3 {
  background: #fffbea;
  border: 3px double #222;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 4px 4px 0 #c62828;
  border-radius: 8px;
  max-width: 700px;
}

.title {
    font-family: 'Bangers', cursive;
  font-size: 1.75rem;
  color: #c62828;
  text-shadow: 1px 1px #000;
  display: block;
  margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    text-decoration: none;

    a {
        text-decoration: none;
    }
}

.team-heroes {
    width: 30%;
}

#recruitment ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

li {
    content: '';

    background-color: #ffffff;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 1rem;
  padding: 0.5rem 1.25rem;
  gap: 4rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: #c62828;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  transition: background-color 0.2s;
}